{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>Show carts</title>
{% endblock title %}

{% block content %}
    <div>
   <a type="submit" href="/admin/add_cart" class="btn btn-primary float-right mr-3" > Add Cart </a>
    </div>

            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th scope="col">Cart Id</th>
                    <th scope="col">User</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for carts in carts %}
                    <tr>
                    <th scope="row">{{ carts.id }}</th>
                    <td>{{ carts.user}}</td>
                    <td>{{ carts.product }}</td>
                    <td>{{ carts.quantity }}</td>
                    <td>
                        <form action="{% url 'delete_cart' carts.id %}" method="post" class="d-inline">{% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    <a href="#" class="btn btn-primary">View</a>
                    </td>
                </tr>

                {% endfor %}
                <tr>
                    <th scope="col">Cart Id</th>
                    <th scope="col">User</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Quantity</th>
                    <th scope="col">Actions</th>
                </tr>

                </tbody>
            </table>

{% endblock content %}